@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(../img/back_form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 1, 1);
}
  /*Form*/
  .box{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f89008d2;
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    margin-top: 20%;
}

.butao{
    border-radius: 5%;
    background-color: rgb(170, 118, 7);
    display: inline-block;
    flex: content;
    padding: 10px;
    margin-left: 20%;
}
.butao :hover{
    box-sizing: border-box;
    background-color: #fff;
}
.centro{
    margin-top: 5%;
}
fieldset{
    border: 3px solid rgb(248, 248, 247);
}
legend{
    border: 1px solid rgba(255, 255, 255, 0.911);
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    color: #000;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(207, 243, 3), rgb(255, 70, 14));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(235, 162, 6), rgb(195, 75, 19));
}
#icone {
	cursor: pointer;
	padding: 15px;
	position: fixed;
	z-index: 1;
}

#check{
	display: none;
	background-color: #f00;
}

.barra{
	
	background-color: #333;
	height: 100%;
	width: 300px;
	position: absolute;
	left: -300px;
	transition: all .2s linear;
    flex: content;
    display: grid;
	position: fixed;
}

.barra .link{
	
	list-style: none;
	background-color: #494950;
}
.barra :hover{
    visibility: visible;
}
nav{
	width: 100%;
	position: absolute;
	top: 60px;
}
nav a{
	text-decoration: none;
}
/* ctrl + ;= comenta a área*/

.link{
	color: #f4f4f9;
	font-family: 'Arial';
	font-size: 12pt;
	padding: 20px;
	border-bottom: 2px solid #222;
	transition:  all .2s linear;
	opacity: 0;
	margin-top: 200px;
}
.link:hover{
	background-color: #050542;
}

#check:checked ~ .barra nav a .link{
		opacity: 1;
		margin-top: 0;
		transition-delay: .2s;
}
#check:checked ~ .barra{
		transform: translateX(300px);

}
@media all and (max-width: 600px){
	.box{
            width: 100%;
            margin-top: 100%;
    }
}